html{
  overflow-y:visible;
  min-width:450px;
}

body{
  /* min-width:1068px;
  min-height:650px; */
}

#spgroup-logo{
  padding:0.5rem 0.5rem 0.5rem 1.5rem;
  width:auto;
}

.nav-tab-text{
  line-height:2.5em;
}

#current_datetime_display{
  padding-right:1.5rem;
  text-align:right;
}

.mainContent{
  margin:0 1.5rem 1.5rem 1.5rem;
}

.mini_container_data_label{
  left:50%;
  top:50%;
  -webkit-transform:translate(-50%, -50%);
  -moz-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  position:absolute;
  text-align:center;
}

.mini_container_label{
  font-weight:500;
}

.mini_container_value{
  font-size:1.6rem;
  font-weight:500;
  padding-left:0.6rem;
}

/* @media screen and (max-height:1440px){
  #mapbox{
    height:30vh;
  }
}

@media screen and (max-height:900px){
  #mapbox{
    height:50vh;
  }
} */

#mapbox{
  min-height:470px;
  height:100%;
}

.healthy-dot{
  height:16px;
  width:16px;
  background-color:var(--color-green);
  border-radius:50%;
  display:inline-block;
}

.alert-dot{
  height:16px;
  width:16px;
  background-color:var(--color-red);
  border-radius:50%;
  display:inline-block;
}

.healthy-search-result-dot{
  height:28px;
  width:28px;
  background-color:var(--color-green);
  border-radius:50%;
  display:inline-block;
}

a.clickable-card{
  color: black;
}

a.clickable-card:hover{
  color: black;
  text-decoration: none;
  /* background-color: var(--color-grey100); */
  border: none;
  cursor: pointer;
}

.u-mla{
  margin-left:auto !important; }
.u-mra{
  margin-right:auto !important; }


@media screen and (max-width:767px){
  .u-mla\@sm{
    margin-left:auto !important; }

  .u-mra\@sm{
    margin-right:auto !important; } }



@media screen and (min-width:768px){
  #substation_health_cards{
    width:100%;
    min-width:650px;
  }
  #substation_map{
    width:auto;
    min-width:450px;
  } }

.pageSectionHeaderCard{
  /* border-radius:1.5rem 1.5rem 0 0; */
  background-color:transparent;
}

.scatter_diagram{
  border-radius: '5px';
  background-color: '#f9f9f9';
  margin: '30px 5px 5px 5px';
  padding: '15px';
  position: 'relative';
  box-shadow: '2px 2px 2px lightgrey';
}

.option_block{
  border-radius: '5px';
  background-color: '#f9f9f9';
  margin: '30px 5px 5px 5px';
  padding: '15px';
  position: 'relative';
  box-shadow: '2px 2px 2px lightgrey';
}

.dcc_control {
  margin: 0;
  padding: 5px;
  width: calc(100%-40px);
}

.transparent_button{
  border:transparent;
}

.selected_button{
  border: 2px solid #00b0b2 !important;
  border-radius: 15px;
}

.forchecking{
  border:1px solid red !important;
}

.datepicker_for_records_page{
  padding:0;
  margin:0;
  background:#fff;
  background:var(--color-panel);
  outline-offset:-1px;
}

.datepicker_for_summary_page{
  padding:0;
  margin:0;
  background:#fff;
  background:var(--color-panel);
  outline-offset:-1px;
  /* width:120px; */
  font-size: 8px;
}

.self-checkbox-input{
  position:absolute;
  width:1px;
  height:1px;
  padding: 2px;
  margin-left: 5px;
  border-color:#00b0b2;
}

.self-checkbox-label{
  position:relative;
  align-items:flex-start;
  display:inline-block;
  margin-right:.5rem;
  padding-top:.125rem;
  padding-right:.5rem;
  cursor:pointer;
}
